*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  @include respond(tab-land) {
    font-size: 50%;
  }
  @include respond(tab-port) {
    font-size: 45%;
  }
  @include respond(mobile) {
    font-size: 40%;
  }
  @include respond(phone) {
    font-size: 35%;
  }
}

body {
  box-sizing: border-box;
  background-color: #84b584;
  position: fixed;
}
